In [1]:
# Importing Python Libraries
import os
import pandas as pd

In [2]:
# Loading Emails into a DataFrame
# Set the path to your raw emails
raw_data_dir = "/Users/annama/Documents/Master/SS 25/Data Analytics in Applications/2025-04-15-golden-dataset"

# Read all .txt files into a list
emails = []
for filename in sorted(os.listdir(raw_data_dir)):
    if filename.endswith(".txt"):
        with open(os.path.join(raw_data_dir, filename), "r", encoding="utf-8") as file:
            content = file.read().strip()
            emails.append({
                "filename": filename,
                "text": content
            })

# Create DataFrame
df = pd.DataFrame(emails)

# Show how many emails were loaded
print(f"Loaded {len(df)} emails")
df.head(3)

Loaded 161 emails

  filename                                               text
0    0.txt  Wie angefordert der Kontoauszug. Abbuchung Eur...
1    1.txt  Hallo liebes Eon Team,\nes geht um die Vertrag...
2   10.txt  >\n> Sehr geehrter Damen und Herren,\n>\n> Wür...

In [3]:
# Cleaning the email text
def clean_email(text):
    # Strip excess whitespace
    text = "\n".join(line.strip() for line in text.splitlines())
    text = " ".join(text.split())  # Normalize to single spaces
    return text

df["clean_text"] = df["text"].apply(clean_email)
df.head(3)

,filename,text,clean_text
0,0.txt,Wie angefordert der Kontoauszug. Abbuchung Eur...,Wie angefordert der Kontoauszug. Abbuchung Eur...
1,1.txt,"Hallo liebes Eon Team,\nes geht um die Vertrag...","Hallo liebes Eon Team, es geht um die Vertrags..."
2,10.txt,">\n> Sehr geehrter Damen und Herren,\n>\n> Wür...","> > Sehr geehrter Damen und Herren, > > Würde ..."

In [4]:
# Adding placeholder for manual anonymization
df["manually_anonymized"] = ""  # For later labeling work
df.head(3)

,filename,text,clean_text,manually_anonymized
0,0.txt,Wie angefordert der Kontoauszug. Abbuchung Eur...,Wie angefordert der Kontoauszug. Abbuchung Eur...,
1,1.txt,"Hallo liebes Eon Team,\nes geht um die Vertrag...","Hallo liebes Eon Team, es geht um die Vertrags...",
2,10.txt,">\n> Sehr geehrter Damen und Herren,\n>\n> Wür...","> > Sehr geehrter Damen und Herren, > > Würde ...",

In [5]:
# (optional) saving to CSV for labelling
df.to_csv("../data/gold_standard/labeled_emails.csv", index=False)